:root {
  --black: #0a0a0a;
  --white: #ffffff;
  --main-color: #535353;
  --hover-color: #ffffff;
  --gradient-colors: linear-gradient(90deg, #00b894, #00cec9, #00b894, #00cec9, #00b894);
  --border-color-1: #00cec9;
  --border-color-2: #00b894;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: var(--black);
  min-height: 100vh;
}


